
.Mint_container_card {
  margin: 3em;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 430px) {
  .Mint_container_card {
    margin: 1.2em;
    /* display: flex; */
    /* flex-wrap: inherit; */
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 380px) {
  .Mint_container_card {
    margin: 1em;
    /* display: flex; */
    /* flex-wrap: inherit; */
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 330px) {
  .Mint_container_card {
    margin: 1em;
    /* display: flex; */
    /* flex-wrap: inherit; */
    align-items: center;
    justify-content: space-between;
  }
}
